@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
:root{
    --color--white: hsl(0, 0%, 100%);
    --color--light-graylist-violet: hsl(270, 3%, 87%);
    --color--dark-grayish-violet: hsl(279, 6%, 55%);
    --color--very-dark-violet: hsl(278, 68%, 11%);
    --color-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --color-erro: hsl(0, 100%, 66%);
    --font-text: font-family: 'Space Grotesk', sans-serif;
}

@media (min-width: 375px) and (max-width: 1100px){
    main{
        width: 100vw;
        height: 100vh;
        background: url(/images/bg-main-mobile.png) no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
    }
    
    .container{
        height: 30%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .card-front{
        background-image: url(/images/bg-card-front.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 22%;
        border-radius: 8px;
        z-index: 5;
        position: absolute;
        top: 13%;
        left: 5%;
        transform: translate(-5px, 20px);
        color: var(--color--white);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
    }

    #img-card{
        width: 75px;
        padding: 15px 0px 15px 15px;
    }

    #section-information{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 300px;
        padding: 15px 15px 15px 15px;
        letter-spacing: 2px;
    }

    #section-information > p#card-txt-numbers{
        width: 100%;
        font-size: 1.2em;
        font-weight: 500;
        
    }

    #section-information > p{
        margin-top: 15px;
        font-size: .7em;
        text-transform: uppercase
    }
        
    .card-back{
        background-image: url(/images/bg-card-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 166px;
        width: 300px;
        border-radius: 8px;
        z-index: 1;
        position: absolute;
        top: 5%;
        right: 5%;
        transform: translate(0px, 0px);
        color: var(--color--white);
    }

    #information-cvc{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 35px;
    position: absolute;
    right: 0%;
    top: -1%;
    font-size: .8em;
    }
    
    .container-form{
        height: 70%;
        background: var(--color--white);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form{
        width: 85%;
        height: 75%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        text-transform: uppercase;
    }

    #form > label{
        color: var(--color--very-dark-violet);
        font-weight: 700;
        font-size: .8em;
        letter-spacing: 1px;
        margin-top: 15px;
    }

    #form > input{
        padding: 10px;
        border: 1px solid var(--color--light-graylist-violet);
    }

    #box-date-cvc{
        width: 100%;
        display: flex;
    }

    .box1{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .box1> label{
        color: var(--color--very-dark-violet);
        width: 100%;
        font-weight: 700;
        font-size: .8em;
        letter-spacing: 1px;
        margin-top: 15px;
    }

    .date{
        margin-top: 10px;
        width: 40%;
        display: flex;
        padding: 10px;
        border: 1px solid var(--color--light-graylist-violet);
        border-radius: 5px;
    }

    #cvc{
        margin-top: 10px;
        width: 100%;
        display: flex;
        padding: 10px;
        border: 1px solid var(--color--light-graylist-violet);
        border-radius: 5px;
    }

    #btn-confirm{
        padding: 15px;
        border-radius: 10px;
        border: none;
        background-color: var(--color--very-dark-violet);
        color: var(--color--white);
        font-size: 1em;
        margin-top: 25px;
        cursor: pointer;
    }





    .container-finalization{
        height: 70%;
        background: var(--color--white);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .box-final{
        width: 350px;
        height: 75%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-transform: uppercase;
    }

    #img-complete{
        width: 80px;
    }

    #btn-continue{
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: none;
        background-color: var(--color--very-dark-violet);
        color: var(--color--white);
        font-size: 1em;
        margin-top: 25px;
        text-align: center;
        text-decoration: none;
    }


    .erro-Name, .erro-Number,
    .erro-Date, .erro-Cvc{
        font-size: .8em;
        font-size: 500;
        text-transform: capitalize;
        color: var(--color-erro);
    }
}