@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
:root{
    --color--white: hsl(0, 0%, 100%);
    --color--light-graylist-violet: hsl(270, 3%, 87%);
    --color--dark-grayish-violet: hsl(279, 6%, 55%);
    --color--very-dark-violet: hsl(278, 68%, 11%);
    --color-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --color-erro: hsl(0, 100%, 66%);
    --font-text: font-family: 'Space Grotesk', sans-serif;
}